Repository feedloop/qore-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cli-test, client-test

cli-test:
  image: node:latest
  stage: test
  script:
  - cd cli
  - yarn
  - yarn test

client-test:
  image: node:latest
  stage: test
  script:
  - cd client
  - yarn
  - yarn test

introduce cache
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
Due: client-test

refactor(sdk): allow subscriptions
  client/package.json
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
  client/yarn.lock
Due: client-test

refactor(core): use stream pattern
  client/package.json
  client/src/client/NormalizedCache.ts
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
  client/src/client/ViewDriver.ts
  client/src/exchanges/cacheExchange.ts
  client/src/exchanges/debugExchange.ts
  client/src/exchanges/networkExchange.ts
  client/src/types.ts
Due: client-test

add authentication
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
Due: client-test

feature(cli): export schema
  cli/src/axios.ts
  cli/src/commands/__nock-fixtures__/codegen.json
  cli/src/commands/__nock-fixtures__/export-schema.json
  cli/src/commands/__snapshots__/export-schema.spec.ts.snap
  cli/src/commands/codegen.ts
  cli/src/commands/export-schema.spec.ts
  cli/src/commands/export-schema.ts
  cli/src/commands/login.ts
  cli/src/config.ts
  cli/src/flags.ts
  cli/src/types.ts
  client/src/client/Qore.spec.ts
Due: cli-test, client-test

Refactor/create project from cli
  cli/package.json
  cli/src/commands/__nock-fixtures__/codegen.json
  cli/src/commands/__nock-fixtures__/create-project.json
  cli/src/commands/__nock-fixtures__/export-schema.json
  cli/src/commands/__snapshots__/codegen.spec.ts.snap
  cli/src/commands/__snapshots__/export-schema.spec.ts.snap
  cli/src/commands/codegen.spec.ts
  cli/src/commands/codegen.ts
  cli/src/commands/create-project.spec.ts
  cli/src/commands/create-project.ts
  cli/src/commands/export-schema.spec.ts
  cli/src/commands/export-schema.ts
  cli/src/flags.ts
  cli/src/types.ts
  cli/yarn.lock
  sdk/src/common.ts
  sdk/src/user/user.ts
Due: cli-test

refactor(@qore/client): init client with qore project schema
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
  client/src/client/ViewDriver.ts
  client/src/sdk/project/field/actionField.ts
  client/src/sdk/project/field/field.ts
  client/src/types.ts
Due: client-test

feature(@qore/cli): create project from template
  cli/package.json
  cli/src/commands/__snapshots__/create-project.spec.ts.snap
  cli/src/commands/create-project.spec.ts
  cli/src/commands/create-project.ts
  cli/templates/todo-list-typescript/.gitignore
  cli/templates/todo-list-typescript/README.md
  cli/templates/todo-list-typescript/components/Layout.tsx
  cli/templates/todo-list-typescript/components/List.tsx
  cli/templates/todo-list-typescript/components/ListDetail.tsx
  cli/templates/todo-list-typescript/components/ListItem.tsx
  cli/templates/todo-list-typescript/interfaces/index.ts
  cli/templates/todo-list-typescript/next-env.d.ts
  cli/templates/todo-list-typescript/package.json
  cli/templates/todo-list-typescript/pages/about.tsx
  cli/templates/todo-list-typescript/pages/api/users/index.ts
  cli/templates/todo-list-typescript/pages/index.tsx
  cli/templates/todo-list-typescript/pages/users/[id].tsx
  cli/templates/todo-list-typescript/pages/users/index.tsx
  cli/templates/todo-list-typescript/tsconfig.json
  cli/templates/todo-list-typescript/utils/sample-data.ts
  cli/templates/todo-list-typescript/yarn.lock
  cli/yarn.lock
Due: cli-test

feat(react): add react hooks to get row
  client/package.json
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
  client/src/client/index.ts
  client/src/index.ts
  react/package.json
  react/src/example.tsx
  react/src/index.tsx
  react/tsconfig.json
  react/yarn.lock
Due: client-test

feat(react): add hook to insert, update, and delete row
  react/src/index.tsx
Due: none

chore(doc): initialize documentation
  .gitignore
  .gitlab-ci.yml
  doc/.gitignore
  doc/.vercel/README.txt
  doc/.vercel/project.json
  doc/build.sh
  doc/run.sh
  doc/source/fonts/slate.eot
  doc/source/fonts/slate.svg
  doc/source/fonts/slate.ttf
  doc/source/fonts/slate.woff
  doc/source/fonts/slate.woff2
  doc/source/images/logo.png
  doc/source/images/navbar.png
  doc/source/includes/_errors.md
  doc/source/index.html.md
  doc/source/javascripts/all.js
  doc/source/javascripts/all_nosearch.js
  doc/source/javascripts/app/_copy.js
  doc/source/javascripts/app/_lang.js
  doc/source/javascripts/app/_search.js
  doc/source/javascripts/app/_toc.js
  doc/source/javascripts/lib/_energize.js
  doc/source/javascripts/lib/_imagesloaded.min.js
  doc/source/javascripts/lib/_jquery.highlight.js
  doc/source/javascripts/lib/_jquery.js
  doc/source/javascripts/lib/_lunr.js
  doc/source/layouts/layout.erb
  doc/source/stylesheets/_icon-font.scss
  doc/source/stylesheets/_normalize.scss
  doc/source/stylesheets/_rtl.scss
  doc/source/stylesheets/_variables.scss
  doc/source/stylesheets/print.css.scss
  doc/source/stylesheets/screen.css.scss
Due: none

fix sdk build
  .gitlab-ci.yml
  doc/run.sh
Due: none

refactor(doc): add file upload, triggering actions and sending forms
  doc/source/index.html.md
Due: none

fix release-doc
  .gitlab-ci.yml
Due: none

merge build and release doc job
  .gitlab-ci.yml
Due: none

add npm to release-doc
  .gitlab-ci.yml
Due: none

feat(react): add test for useListRow and useGetRow
  .gitignore
  client/src/client/Qore.spec.ts
  client/src/client/ViewDriver.ts
  react/babel.config.json
  react/jest.config.js
  react/package.json
  react/src/example.tsx
  react/src/index.test.tsx
  react/src/index.tsx
  react/yarn.lock
Due: client-test

feature(cli): create project from qore schema
  cli/src/commands/__nock-fixtures__/codegen.json
  cli/src/commands/__nock-fixtures__/create-project.json
  cli/src/commands/__nock-fixtures__/export-schema.json
  cli/src/commands/__snapshots__/codegen.spec.ts.snap
  cli/src/commands/__snapshots__/create-project.spec.ts.snap
  cli/src/commands/__snapshots__/export-schema.spec.ts.snap
  cli/src/commands/codegen.ts
  cli/src/commands/create-project.spec.ts
  cli/src/commands/create-project.ts
  cli/src/commands/export-schema.ts
  cli/src/types.ts
  cli/templates/todo-list-typescript/qore.schema.json
  sdk/src/project/project.ts
  sdk/src/project/url.ts
  sdk/src/user/organization.ts
  sdk/yarn.lock
Due: cli-test

feature(cli): set project
  cli/src/commands/__nock-fixtures__/create-project.json
  cli/src/commands/__nock-fixtures__/login.json
  cli/src/commands/__nock-fixtures__/set-project.json
  cli/src/commands/__snapshots__/create-project.spec.ts.snap
  cli/src/commands/codegen.spec.ts
  cli/src/commands/codegen.ts
  cli/src/commands/create-project.spec.ts
  cli/src/commands/create-project.ts
  cli/src/commands/export-schema.spec.ts
  cli/src/commands/login.test.ts
  cli/src/commands/login.ts
  cli/src/commands/set-project.spec.ts
  cli/src/commands/set-project.ts
  sdk/src/common.ts
  sdk/src/user/user.ts
Due: cli-test

refactor(cli): should use user token instead of project token
  cli/.gitignore
  cli/package.json
  cli/src/commands/__nock-fixtures__/codegen.json
  cli/src/commands/__nock-fixtures__/export-schema.json
  cli/src/commands/__snapshots__/codegen.spec.ts.snap
  cli/src/commands/__snapshots__/export-schema.spec.ts.snap
  cli/src/commands/codegen.spec.ts
  cli/src/commands/codegen.ts
  cli/src/commands/create-project.spec.ts
  cli/src/commands/create-project.ts
  cli/src/commands/export-schema.spec.ts
  cli/src/commands/export-schema.ts
  cli/src/commands/hello.ts
  cli/src/commands/login.spec.ts
  cli/src/commands/set-project.spec.ts
  doc/source/index.html.md
Due: cli-test

feat(row-action): implement row action in @qore/client and @qore/react
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
  client/src/client/ViewDriver.ts
  client/src/types.ts
  react/src/index.test.tsx
  react/src/index.tsx
Due: client-test

chore(publishing): publish to npm
  .gitlab-ci.yml
  cli/README.md
  cli/jest.config.js
  cli/package.json
  cli/src/commands/codegen.ts
  cli/src/commands/create-project.spec.ts
  cli/src/commands/create-project.ts
  cli/src/commands/export-schema.ts
  cli/src/commands/login.ts
  cli/src/commands/set-project.ts
  cli/yarn.lock
  client/package.json
  client/src/client/Qore.spec.ts
  client/src/client/ViewDriver.ts
  client/src/sdk/project/field/actionField.ts
  client/src/sdk/project/field/baseField.ts
  client/src/sdk/project/field/booleanField.ts
  client/src/sdk/project/field/dateField.ts
  client/src/sdk/project/field/field.ts
  client/src/sdk/project/field/formulaField.ts
  client/src/sdk/project/field/index.ts
  client/src/sdk/project/field/lookupField.ts
  client/src/sdk/project/field/numberField.ts
  client/src/sdk/project/field/passwordField.ts
  client/src/sdk/project/field/relationField.ts
  client/src/sdk/project/field/roleField.ts
  client/src/sdk/project/field/rollupField.ts
  client/src/sdk/project/field/selectField.ts
  client/src/sdk/project/field/textField.ts
  client/src/types.ts
  client/yarn.lock
  react/package.json
  react/src/example.tsx
  react/src/index.test.tsx
  react/src/index.tsx
  react/yarn.lock
  sdk/package.json
Due: cli-test, client-test

refactor(client): should accept cli codegen files
  client/package.json
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
  client/src/types.ts
  client/yarn.lock
  doc/source/index.html.md
  react/jest.config.js
  react/package.json
  react/src/example.tsx
  react/src/index.test.tsx
  react/yarn.lock
  sdk/package.json
  sdk/src/project/project.ts
Due: client-test

feat(upload): implement upload file
  client/jest.config.js
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
  react/jest.config.js
  react/src/index.test.tsx
Due: client-test

refactor(client): integrate with prod server
  client/package.json
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
  client/src/client/ViewDriver.ts
  client/src/client/__nock-fixtures__/beforeAll.json
  client/src/client/__nock-fixtures__/delete a row.json
  client/src/client/__nock-fixtures__/fetch view rows, read and write to cache.json
  client/src/client/__nock-fixtures__/initialize sdk.json
  client/src/client/__nock-fixtures__/insert a new row, write and read from cache.json
  client/src/client/__nock-fixtures__/read from subscription.json
  client/src/client/__nock-fixtures__/reject promise when delete a row failed.json
  client/src/client/__nock-fixtures__/reject promise when trigger action failed.json
  client/src/client/__nock-fixtures__/trigger an action.json
  client/src/client/__nock-fixtures__/update a row.json
  client/yarn.lock
Due: client-test

refactor(client): integrate auth and upload
  cli/package.json
  cli/src/commands/__nock-fixtures__/codegen.json
  cli/src/commands/__nock-fixtures__/create-project.json
  cli/src/commands/__snapshots__/codegen.spec.ts.snap
  cli/src/commands/__snapshots__/create-project.spec.ts.snap
  cli/src/commands/codegen.spec.ts
  cli/src/commands/codegen.ts
  cli/src/commands/create-project.spec.ts
  cli/src/commands/create-project.ts
  client/package.json
  client/src/client/Qore.spec.ts
  client/src/client/Qore.ts
  client/src/client/ViewDriver.ts
  client/src/client/__nock-fixtures__/authenticate a user.json
  client/src/client/__nock-fixtures__/beforeAll.json
  client/yarn.lock
  doc/source/index.html.md
  package.json
Due: cli-test, client-test

v0.1.3
  cli/README.md
  cli/package.json
Due: cli-test

v0.1.4
  cli/README.md
  cli/package.json
Due: cli-test

refactor(cli): install sentry
  cli/.gitignore
  cli/bin/run
  cli/package.json
  cli/src/commands/__nock-fixtures__/login.json
  cli/src/commands/codegen.spec.ts
  cli/src/commands/create-project.spec.ts
  cli/src/commands/export-schema.spec.ts
  cli/src/commands/export-schema.ts
  cli/src/commands/login.ts
  cli/yarn.lock
Due: cli-test

v0.1.5
  cli/README.md
  cli/package.json
Due: cli-test

refactor(cli): codegen handle more field types
  cli/src/commands/__snapshots__/codegen.spec.ts.snap
  cli/src/commands/codegen.ts
Due: cli-test

refactor(client): simplify actions trigger
  client/src/client/Qore.spec.ts
  client/src/client/ViewDriver.ts
  client/src/types.ts
Due: client-test

feature(client): add & remove relation
  client/src/client/Qore.spec.ts
  client/src/client/ViewDriver.ts
  client/src/client/__nock-fixtures__/add & remove relation.json
Due: client-test

update gitlab-cli
  .gitlab-ci.yml
Due: none

chore(publish): cli and client
  cli/README.md
  cli/package.json
  client/package.json
Due: cli-test, client-test

refactor(react): sync integration tests
  react/package.json
  react/src/index.test.tsx
  react/src/index.tsx
  react/yarn.lock
Due: none

chore(doc): add & remove relations
  doc/source/index.html.md
  react/package.json
Due: none

v0.1.7
  cli/README.md
  cli/package.json
  cli/src/commands/codegen.ts
Due: cli-test

Path conditions:
  cli-test: any of: cli/**/*
  client-test: any of: client/**/*
