Repository feedloop/qore-sdk: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cli-test, client-test, release-doc

cli-test:
  image: node:latest
  stage: test
  script:
  - cd sdk
  - yarn
  - yarn build
  - yarn link
  - cd ../cli
  - yarn link @qore/sdk
  - yarn
  - yarn test

client-test:
  image: node:latest
  stage: test
  script:
  - cd client
  - yarn
  - yarn test

release-doc:
  image: docker:19.03.12
  stage: release
  script:
  - apk add --no-cache --repository http://dl-cdn.alpinelinux.org/alpine/v3.12/main/ nodejs=12.18.4-r0
  - npm install --global vercel
  - cd doc
  - sh ./build.sh
  - vercel --token $VERCEL_TOKEN --confirm --prod

feature(cli): add todo list template functionality
  cli/templates/todo-list-typescript/components/Todo.tsx
  cli/templates/todo-list-typescript/package.json
  cli/templates/todo-list-typescript/pages/index.tsx
  cli/templates/todo-list-typescript/qore.schema.json
  cli/templates/todo-list-typescript/utils/qoreContext.ts
  cli/templates/todo-list-typescript/yarn.lock
  client/package.json
  client/src/client/Qore.ts
  client/src/exchanges/cacheExchange.ts
  client/src/exchanges/debugExchange.ts
  client/src/exchanges/networkExchange.ts
  client/src/types.ts
  client/tsconfig.json
  react/package.json
  react/src/index.tsx
  react/yarn.lock
Due: cli-test, client-test

v0.1.8
  cli/README.md
  cli/package.json
Due: cli-test

refactor(react): memoize stream
  cli/src/commands/__nock-fixtures__/create-project.json
  cli/src/commands/__snapshots__/create-project.spec.ts.snap
  cli/templates/todo-list-typescript/components/Todo.tsx
  cli/templates/todo-list-typescript/package.json
  cli/templates/todo-list-typescript/yarn.lock
  react/package.json
  react/src/index.tsx
Due: cli-test

chore(doc): add videos to getting started section
  cli/README.md
  cli/package.json
  doc/source/index.html.md
Due: cli-test, release-doc

wrap embeds with paragraph
  doc/source/index.html.md
Due: release-doc

refactor(cli): add public role to template
  cli/README.md
  cli/package.json
  cli/src/commands/__nock-fixtures__/create-project.json
  cli/src/commands/__nock-fixtures__/export-schema.json
  cli/src/commands/__snapshots__/create-project.spec.ts.snap
  cli/src/commands/__snapshots__/export-schema.spec.ts.snap
  cli/templates/todo-list-typescript/qore.schema.json
  cli/templates/todo-list-typescript/utils/qoreContext.ts
Due: cli-test

chore(doc): apply concerns by rozak
  cli/README.md
  cli/package.json
  cli/src/commands/__snapshots__/codegen.spec.ts.snap
  cli/src/commands/__snapshots__/create-project.spec.ts.snap
  cli/src/commands/__snapshots__/export-schema.spec.ts.snap
  cli/src/commands/codegen.ts
  cli/src/commands/export-schema.ts
  cli/templates/todo-list-typescript/components/Layout.tsx
  cli/templates/todo-list-typescript/components/List.tsx
  cli/templates/todo-list-typescript/components/ListDetail.tsx
  cli/templates/todo-list-typescript/components/ListItem.tsx
  cli/templates/todo-list-typescript/components/Todo.tsx
  cli/templates/todo-list-typescript/components/TodoItem.tsx
  cli/templates/todo-list-typescript/pages/about.tsx
  cli/templates/todo-list-typescript/pages/api/users/index.ts
  cli/templates/todo-list-typescript/pages/users/[id].tsx
  cli/templates/todo-list-typescript/pages/users/index.tsx
  cli/templates/todo-list-typescript/utils/sample-data.ts
  doc/source/index.html.md
Due: cli-test, release-doc

chore(doc): update according to kevin's concerns
  doc/source/index.html.md
Due: release-doc

refactor(doc): use cleaner styles
  doc/source/index.html.md
  doc/source/layouts/layout.erb
  doc/source/stylesheets/_variables.scss
  doc/source/stylesheets/screen.css.scss
Due: release-doc

refactor(cli): generate typescript definition file instead of regular typescript file
  cli/qore-env.d.ts
  cli/src/commands/__snapshots__/codegen.spec.ts.snap
  cli/src/commands/codegen.spec.ts
  cli/src/commands/codegen.ts
  cli/templates/todo-list-typescript/qore-generated.d.ts
  cli/templates/todo-list-typescript/utils/qoreContext.ts
  doc/source/index.html.md
Due: cli-test, release-doc

chore(doc): add step-by-step to manual setup guide
  cli/README.md
  cli/package.json
  doc/source/index.html.md
Due: cli-test, release-doc

chore(doc): fixes
  .gitlab-ci.yml
  doc/source/index.html.md
Due: release-doc

chore(doc): fixes
  doc/source/index.html.md
Due: release-doc

refactor(sdk): default endpoint to aws staging
  cli/README.md
  cli/package.json
  cli/src/commands/codegen.ts
  cli/yarn.lock
  doc/source/index.html.md
  sdk/package.json
  sdk/src/common.ts
Due: cli-test, release-doc

hotfix(cli): adjust QORE_SERVER
  cli/src/commands/codegen.spec.ts
  cli/src/commands/create-project.spec.ts
  cli/src/commands/export-schema.spec.ts
  cli/src/commands/login.spec.ts
  cli/src/commands/set-project.spec.ts
Due: cli-test

refactor(cli): remove unused file
  packages/cli/qore-env.d.ts
Due: none

Publish
  packages/cli/README.md
  packages/cli/package.json
  packages/client/package.json
  packages/react/package.json
  packages/sdk/package.json
Due: none

chore(actions): init actions
  .github/workflows/release-doc.yml
Due: none

chore(actions): release-doc
  .github/workflows/release-doc.yml
Due: none

.
  doc/build.sh
Due: release-doc

.
  .github/workflows/release-doc.yml
Due: none

use docker-practice/actions-setup-docker@master
  .github/workflows/release-doc.yml
Due: none

remove checker
  .github/workflows/release-doc.yml
Due: none

add --token
  .github/workflows/release-doc.yml
Due: none

finalize
  .github/workflows/release-doc.yml
Due: none

chore(packages): add test actions
  .github/workflows/test-cli.yml
  .github/workflows/test-client.yml
  .github/workflows/test-react.yml
  .github/workflows/test-sdk.yml
Due: none

fix test
  packages/client/src/client/Qore.spec.ts
Due: none

print ls
  packages/cli/.gitignore
  packages/cli/src/commands/create-project.ts
Due: none

dont ignore schema in templates
  .github/workflows/test-client.yml
  .github/workflows/test-react.yml
  .github/workflows/test-sdk.yml
  packages/cli/src/commands/create-project.ts
  packages/cli/templates/todo-list-typescript/.gitignore
  packages/cli/templates/todo-list-typescript/qore.schema.json
Due: none

refactor(cli): point qore config to staging aws
  packages/cli/src/commands/__snapshots__/codegen.spec.ts.snap
  packages/cli/src/commands/__snapshots__/create-project.spec.ts.snap
  packages/cli/src/commands/codegen.ts
Due: none

Publish
  packages/cli/README.md
  packages/cli/package.json
  packages/client/package.json
  packages/react/package.json
Due: none

Update build.sh
  doc/build.sh
Due: release-doc

Update test-cli.yml
  .github/workflows/test-cli.yml
Due: none

feature(react): add and remove relation
  doc/source/index.html.md
  packages/react/package.json
  packages/react/src/index.test.tsx
  packages/react/src/index.tsx
  packages/react/yarn.lock
Due: release-doc

run tests on all branches
  .github/workflows/test-cli.yml
  .github/workflows/test-client.yml
  .github/workflows/test-react.yml
  .github/workflows/test-sdk.yml
Due: none

feature(cli): create project from git template
  packages/cli/bin/run
  packages/cli/package.json
  packages/cli/src/commands/create-project.spec.ts
  packages/cli/src/commands/create-project.ts
  packages/cli/yarn.lock
Due: none

Path conditions:
  cli-test: any of: cli/**/*
  client-test: any of: client/**/*
  release-doc: any of: doc/**/*
